<html>
	<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/reveal.css" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/theme/solarized.min.css" /> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/theme/moon.min.css" /> -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/theme/blood.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/theme/league.css" />
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/theme/night.css" /> -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/lib/css/zenburn.min.css" />


<style type="text/css">
.reveal .slides > section { padding: 5px; }
.reveal pre code {
  max-height: 500px;
  font-size: smaller;
}
.reveal pre {
  width: 99.999%;
}
</style>
	</head>
	
	<body>
		<div class="reveal">
			<div class="slides">
        <section>
          <h1>Go Language Basics </h1>
          <h3>Basic constructs of the Go Programming Language </h3>
					<h6>(Minimalistic and Opinionated Language)</h6>
        </section>
				<section data-markdown style="text-align:left">
					<textarea data-template>
## Setup

##### Windows
* Follow instructions at: https://golang.org/doc/install
**OR**
* WSL: Follow setup at https://github.com/lenkite/dotfiles/

#####  MacOS
* Use HomeBrew

##### Edtior
- Visual Studio Code: https://code.visualstudio.com/
- VSC Go Extension.
					</textarea>
				</section>
				<section data-markdown>
					<textarea data-template>
### Setup

##### Windows
```
GOPATH=%USERPROFILE%
cd %GOPATH%
md github.com\lenkite\
git clone https://github.com/lenkite/golang-course.git
cd github.com\leknite\golang-course
```
##### Unix
```
GOPATH=~
cd $GOPATH
mkdir -p github.com/lenkite
git clone https://github.com/lenkite/golang-course.git
cd github.com/lenkite/golang-course
```
					</textarea>
				</section>
        <section data-markdown>
          <textarea data-template>
            ## Go Lang Hello World
            ```go
            {{ template "samples/helloworld/hello-world.go" }}
            ```
            ```
            $ go run samples/helloworld/hello-world.go
            ```
            ```
            $ go build samples/helloworld/hello-world.go # See 'go help build'
            $ ls -lh main
            $ ./main # Run the binary
            ```
          </textarea>
        </section>
        <section data-markdown>
          <textarea data-template>
            ## Go Imports
            - Package identified by unique string called _import path_
            - Package name is last element of import path. 

            ```go
            {{ template "samples/imports/imports.go" }}
            ```
          </textarea>
        </section>
        <section data-markdown>
          <textarea data-template>
						### Go Imports 
						- Packages outside standard library must have globally unique paths
						- Import path should start with internet domain hosting the package
```go
import (
	"golang.org/x/net/html"
	"github.com/go-sql-driver/mysql"
)
```
						- In Go, a name is exported if it begins with a capital letter. No special `public`, `protected` or `private` keywords
```go
fmt.Println(math.Pi)
```
          </textarea>
        </section>
				<section data-markdown style="text-align:left">
					<textarea data-template>
## Variables
- A `var` declaration creates a variable of a type, attaches a name and sets its initial value: 
- General form: `var name type = expression`
- Either type or `= expression` can be omitted, but not both
- If `type` is omitted, type is _inferred_ from expression
- If `=expression` is omitted, variable gets a default initial value called *zero value* for the type
- zero value: `0` for numbers, `false` for booleans, `""` for strings and `nil`
for interfaces and reference types.
					</textarea>
				</section>
				<section data-markdown>
					<textarea data-template style="text-align:left">
### Variables

```go
{{ template "samples/variables/variables.go" }}
```
					</textarea>
				</section>
				<section data-markdown style="text-align:left">
					<textarea data-template>
## Type Categories

Go's types fall into 4 major categories:
- Basic Types 
 * numbers, strings and booleans
- Aggregate Types
 * Arrays and Structs
- Reference Types
 * Slices, Maps, Pointers, Functions and Channels
- Interface Types
 * Typed interfaces and interface{}
					</textarea>
				</section>
        <section data-markdown>
          <textarea data-template>
						## Basic Types
						```
bool
string
int  int8  int16  int32  int64
uint uint8 uint16 uint32 uint64 uintptr
byte //alias for uint8
rune // alias for int32
     // represents a Unicode code point
float32 float64
complex64 complex128
```
          </textarea>
        </section>
				<section data-markdown>
					<textarea data-template>
### Basic Types

```go
{{ template "samples/basictypes/basic-types.go" }}
```
					</textarea>
				</section>
				<section data-markdown style="top:auto">
					<textarea data-template>
## Constants
```go
{{ template "samples/constants/constants.go" }}
```
					</textarea>
				</section>


				<section data-markdown>
					<textarea data-template>
## Functions
```go
// samples/functions/functions.go
{{ template "samples/functions/functions.go" }}
```

					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
### Functions - Multiple Results
```go
{{ template "samples/functions/multiple-results.go" }}
```
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
### Functions - Named Returns
```go
{{ template "samples/functions/named-results.go" }}
```
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
## If/Else 
```go
{{ template "samples/ifelse/ifelse.go" }}
```
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template style="text-align:left">
## For (only loop construct)
```go
{{ template "samples/for/for.go" }}
```

					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
## If/Else 
```go
{{ template "samples/ifelse/ifelse.go" }}
```
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
## Switch
```go
{{ template "samples/switch/switch.go" }}
```
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
## Arrays - [N]T

  - Array `a` of length `n` and type `T` declared as `var a[n]T`
  - Arrays are an aggregate _value-type_. 
  ![](static/array-4-int.png "Array of 4 integers")

```go
package main
import "fmt"

func main() {
    a1 := [5]string{"English", "Japanese", "Spanish", "French", "Hindi"}
    a2 := a1 // A copy of the array `a1` is assigned to `a2`

    a2[1] = "German"

    fmt.Println("a1 = ", a1) // The array `a1` remains unchanged
    fmt.Println("a2 = ", a2)
}
```
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
### Arrays (An aggregate-value type)
```go
{{ template "samples/arrays/arrays.go" }}
```
					</textarea>
				</section>

				<section data-markdown style="text-align:left">
          <textarea data-template>
### Arrays (An aggregate-value type)
- Arrays Length is Part of its Type
- Arrays are rarely seen in go programs (only used in math code)

```go
package main

func main() {
    var a = [5]int{3, 5, 7, 9, 11}
    var b [10]int = a  // Error, a and b are distinct types 
}

```

					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
## Slices - []T

  - Slices are dynamically-sized, flexible view into an array. Slices are a
  _reference type_. A slice is a  _descriptor_ of an array segment that
  consists of:
    * pointer to array
    * length of the segment
    * capacity (length of backing array)

  ![](static/slice-of-bytes.png "Byte Slice")

  - https://blog.golang.org/slices for comprhensive treatise on slices

					</textarea>
				</section>

				<section data-markdown style="text-align:left">
					<textarea data-template>
### Slices (Examples)
```go
{{ template "samples/slices/slices.go" }}
```
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
### Slice Operaator

- The slice operator `s[i:j]`, where `0 ≤ i ≤ j ≤ cap(s)`, creates a new slice that
refers to elements `i` through `j-1` of the sequence s, which may be an array
variable, a pointer to an array, or another slice! Flexy!

- Multiple slices can share the same underlying array and may refer to
overlapping parts of that array.

- A super-charged variant of `java.nio.Buffer`
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
### Slices (length and capacity)
```go
{{ template "samples/slices/slice-len-cap.go" }}
```
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
## Nil Slice
```go
{{ template "samples/slices/nil-slice.go" }}
```
					</textarea>
				</section>


				<section data-markdown>
					<textarea data-template>
## Making Slices
```go
{{ template "samples/slices/making-slices.go" }}
```
					</textarea>
				</section>


				<section data-markdown>
					<textarea data-template>
## Maps - map[KeyType]ValueType
- _KeyType_ may be any time that is comparable.
- _ValueType_ may be any type at all, including another map
- Map types are _reference types_
- `m` is a map of `string` keys to `int` values:

```go
var m map[string]int
```
- The `make` builtin function allocates and initializes a hash map data
structure and returns a map value that points to it. 

```go
m = make(map[string]int)
```
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template style="text-align:left">
### Maps
```go
{{ template "samples/maps/maps.go" }}
```
					</textarea>
				</section>


				<section data-markdown>
					<textarea data-template>
## Range (built-in function)
```go
{{ template "samples/range/range.go" }}
```
					</textarea>
				</section>



				<section data-markdown>
					<textarea data-template>
## Pointers (referene type)
- A pointer holds memory address of a value.
- The type `*T` is a pointer to a `T` value. Its _zero value_ is `nil`.

```go
var p *int //Similar to C declaration syntax (which was a mistake) :(
// Ideal syntax would have been var p int@ //p is an int address
// Golang designers acknowledge this mistake.
i := 42
p = &i
```

- The `&` (address) operator generates a pointer to its operand.
- The `*` operator denotes the pointer's underlying value.

					</textarea>
				</section>


				<section data-markdown>
					<textarea data-template>
### Pointers

```go
{{ template "samples/pointers/pointers.go" }}
```
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
## Structs

- Structs are _value types_
- A struct is an aggregate data type that groups together zero or more named
values of arbitrary types as a single entity.

```go
type Employee struct {
	ID        int
	Name      string
	Address   string
	DoB       time.Time
	Position  string
	Salary    int
	ManagerID int
}
var dilbert Employee

```
					</textarea>
				</section>
				<section data-markdown>
					<textarea data-template>
### Structs
```go
{{ template "samples/structs/structs.go" }}
```
					</textarea>
				</section>


				<section data-markdown>
					<textarea data-template>
## Panic
- Builtin that stops ordiary flow of control and unwinds stack.
- Analogous to Java's `RuntimeException`

```go
{{ template "samples/panic/panic.go" }}
```

					</textarea>
				</section>


				<section data-markdown>
					<textarea data-template>
## Defer

- A defer statement defers the execution of a function until the surrounding function returns.
- The deferred call's arguments are evaluated immediately, but the function
call is not executed until the surrounding function returns.

```go
package main

import "fmt"

func main() {
	defer fmt.Println("world")
	fmt.Println("hello")
}
```
					</textarea>
				</section>
				<section data-markdown>
					<textarea data-template>
### Defer
```go
{{ template "samples/defer/defer.go" }}
```
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
## Processing CLI Args
```go
{{ template "samples/cli1/cliargs.go" }}
```
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
### Processing CLI Args with flags
```go
{{ template "samples/cli2/flags.go" }}
```
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
## Exercises

#### grab
- grab is a CLI tool that downloads a resource and saves it to a file.
```
grab -out <outputName> <url>
```
- Leverage packages `flag`, `net/http`, `io`, `path`

					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
### Exercice listbig
- listbig is a CLI tool that lists largest N files inside a directory.
```
listbig -head <N>  <dir>
```
- Use map[string]int for path to size
- OR Use a struct `FileInfo` with 2 fields: `path string`, `size uint64`
- Make listbig recursive by using `os.Walk`.

					</textarea>
				</section>

				<!-- <section data-markdown> -->
				<!-- 	<textarea data-template> -->
      <!-- ### month := [...]string{1kkkkkkkkkkkk BINGO -->
<!-- ```go -->
<!-- {{ template "samples/ifelse/ifelse.go" }} -->
<!-- ``` -->
				<!-- 	</textarea> -->
				<!-- </section> -->

			</div> <!-- END div class=slides-->
		</div>  <!-- END div class=reveal -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/lib/js/head.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/js/reveal.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/plugin/markdown/marked.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/plugin/markdown/markdown.min.js"></script>
		<script>
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        slideNumber: true,
        keyboard: true,
        dependencies: [
           { src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
        ]
      });
		</script>
	</body>
</html>
